.container {
  height: 15vh;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid lightslategray;
  position: sticky;

  top: 0;
  z-index: 1;

  background-color: #fff;
}

.top-row {
  display: flex;
  flex-direction: row;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container input {
  font-size: 18px;
  width: 20%;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  border: 2px solid lightslategray;
}

/* .tags {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.css-w4z10b-MuiStack-root {
  margin-top: 4px;
  padding: 6px 16px;
  position: relative;
  font-weight: 500;
  font-size: 0.875rem;
  min-width: 64px;
}
