.container {
  height: 15vh;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  position: sticky;
  top: 0;
}

.top-row {
  display: flex;
  flex-direction: row;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container input {
  font-size: 18px;
  width: 20%;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.tags {
  border: 1px solid black;
  width: 5%;
  height: 10px;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}
